<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsOperacionesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59120/wsOperaciones.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsOperacionesSoap"
                contract="ServicioOperaciones.wsOperacionesSoap" name="wsOperacionesSoap" />
        </client>
    </system.serviceModel>
</configuration>